<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbConnection" value="Data Source=198.1.1.234;uid=sa;password=zy01sy?;database=CTI_EDIECS" />
    <add key="ftpHost" value="198.1.1.234" />
    <add key="ftpUser" value="administrator" />
    <add key="ftpPass" value="zy01sy?" />
    <add key="ftpExpGnlPath" value="/dmc/exp/gnl" />
    <add key="ftpImpGnlPath" value="/dmc/imp/gnl" />
  </appSettings>
</configuration>